<!DOCTYPE html>
<html>
    <head>
        <meta charset UTF-8>
        <title><%=siteName%>: About</title>
        <link rel="stylesheet" href="style.css" type="text/css">
    </head>
    <body>
        Hello World!
    </body>
</html>