<!DOCTYPE html>
<html>
    <head>
        <meta charset UTF-8>
        <title><%=siteName%>: Home</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <nav>
            <div class="container">
                <a href="/">Homepage</a>
                <form method="POST" action="/searchresult">
                    <input type="text" id="search" name="search"/>

                    <label for="posts">posts</label>
                    <input type="checkbox" id="posts" name="radio" value="posts"/>
                    <label for="topics">topics</label>
                    <input type="checkbox" id="topics" name="radio" value="topics"/>
                    <label for="users">users</label>
                    <input type="checkbox" id="users" name="radio" value="users"/>

                    <input type="submit" value="Search"/>
                </form>
            </div>
        </nav>
        <h3>About</h3>
        <p>
            <em><%=siteName%></em> is a forum for forum users by forum users.
        </p>
    </body>
</html>