<!DOCTYPE html>
<html>
    <head>
        <meta charset UTF-8>
        <title><%=siteName%>: About</title>
    </head>
    <body>
        <a href="/">Homepage</a>
        Hello World!
    </body>
</html>