<!DOCTYPE html>
<html>
    <head>
        <meta charset UTF-8>
        <title><%=siteName%>: Home</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <nav>
            <div class="container">
                <a href="/">Homepage</a>
                <form method="POST" action="/searchresult">
                    <input type="text" id="search" name="search"/>

                    <label for="posts">posts</label>
                    <input type="checkbox" id="posts" name="radio" value="posts"/>
                    <label for="topics">topics</label>
                    <input type="checkbox" id="topics" name="radio" value="topics"/>
                    <label for="users">users</label>
                    <input type="checkbox" id="users" name="radio" value="users"/>

                    <input type="submit" value="Search"/>
                </form>
            </div>
        </nav>
        <ul>
            <li><a href="about">About</a></li>
            <h3>Index topics, users, or posts:</h3>
            <li><a href="topics">View all topics</a></li>
            <li><a href="users">View all users</a></li>
            <li><a href="posts">View all posts</a></li>
            <h3>Submit a post, topic; or create a new account:</h3>
            <li><a href="newpost">Create a new post</a></li>
            <li><a href="newtopic">Create a new topic</a></li>
            <li><a href="register">Create an account</a></li>
        <ul>
    </body>
</html>