<!DOCTYPE html>
<html>
    <head>
        <meta charset UTF-8>
        <title><%=siteName%>: Home</title>
    </head>
    <body>
        Hello World!
        <ul>
            <li><a href="about">About</a></li>
            <h3>Index topics, users, or posts:</h3>
            <li><a href="topics">View all topics</a></li>
            <li><a href="users">View all users</a></li>
            <li><a href="posts">View all & search posts</a></li>
            <h3>Submit a post or create a new account:</h3>
            <li><a href="newpost">Create a new post</a></li>
            <li><a href="register">Create an account</a></li>
        <ul>
    </body>
</html>