<!DOCTYPE html>
<html>
    <head>
        <meta charset UTF-8>
        <title><%=siteName%>: Home</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        Hello World!
        <ul>
            <li><a href="about">About</a></li>
            <li><a href="topics">View all topics</a></li>
            <li><a href="users">View all users</a></li>
            <li><a href="posts">View all & search posts</a></li>
            <li><a href="newpost">Create a new post</a></li>
        <ul>
    </body>
</html>