<!DOCTYPE html>
<html>
    <head>
        <meta charset UTF-8>
        <title><%=siteName%>: Success</title>
    </head>
    <body>
        <a href="/">Homepage</a>
        <p>Success</p>
    </body>
</html>