<!DOCTYPE html>
<html>
    <head>
        <meta charset UTF-8>
        <title><%=siteName%>: <%=result[0].name%></title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <%=result[0].name%>
    </body>
</html>