<!DOCTYPE html>
<html>
    <head>
        <meta charset UTF-8>
        <title><%=siteName%>: <%=topicname%></title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <%=topicname%>
    </body>
</html>