<!DOCTYPE html>
<html>
    <head>
        <meta charset UTF-8>
        <title><%=siteName%>: <%=result[0].name%></title>
    </head>
    <body>
        <%=result[0].name%>'s profile
    </body>
</html>